body {
	display: flex;
	margin: 0;
	background: #6475be;
	font-family: Arial, sans-serif;
	color: white;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#world {
	position: relative;
	width: 800px;
	height: 600px;
	border: 2px solid black;
	border-radius: 20px;
	background-image: url(https://tinkr.tech/sdb_apps/wanderworld/images/grass.png);
	margin-top: 20px;
}

.player {
	position: absolute;
	text-align: center;
}

.player img {
	width: 32px;
	height: 32px;
	image-rendering: pixelated;
}

.bubble {
	background: white;
	border-radius: 7px;
	padding: 4px;
	font-size: 12px;
	margin-bottom: 10px;
	color: black;
}

#gameWrapper {
	display: flex;
	gap: 20px;
}

#panel {
	position: absolute;
	top: 80px;
	left: 50%;
	transform: translateX(-50%);
	width: 320px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	border-radius: 12px;
	z-index: 10;
	justify-content: center;
}

#changeName {
	background-color: #243c68;
	width: 150px;
	display: flex;
	align-self: center;
	justify-content: center;
}

h2 {
	align-self: center;
}

button {
	padding: 10px;
	border: none;
	border-radius: 8px;
	background: #253044;
	color: white;
	cursor: pointer;
}

input {
	padding: 10px;
	border-radius: 8px;
	border: none;
	outline: none;
}


.nimi {
	font-style: italic;
}

#tiles {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#players {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}